<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- meta使用viewport以确保页面可自由缩放 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 引入 jQuery 库 -->
  <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<style>
	*{
		margin: 0;
		padding: 0;
	}
	.double{
		background: #eeeeee;
	}
</style>
<body>
	{% for q in qst %}
		{% if forloop.counter|divisibleby:2 %}
		<div id={{forloop.counter}} class="double">
		{% else %}
		<div id={{forloop.counter}}>
		{% endif %}
		<label>{{forloop.counter}}.{{q.qst}}</label>
		<ul>
			<li name="A">A.{{q.A}}</li>
			<li name="B">A.{{q.B}}</li>
			<li name="C">A.{{q.C}}</li>
			<li name="D">A.{{q.D}}</li>
		</ul>
	</div>
	{% endfor %}
</body>
<script type="application/javascript">
</script>
</html>
