<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- meta使用viewport以确保页面可自由缩放 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- 引入 jQuery Mobile 样式 -->
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">

  <!-- 引入 jQuery 库 -->
  <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>

  <!-- 引入 jQuery Mobile 库 -->
  <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page" id="index">

  <div data-role="header">
    <h1>考试系统</h1>
  </div>

  <div data-role="main" class="ui-content">
    <a href="#rev" data-role="button" id="btn_rev">真题复习</a>
    <a href="#test" data-role="button" id="btn_test">模拟测试</a>
  </div>
</div>

<div date-role="page" id="rev">
  <div data-role="header" data-fullscreen="true">
    <a href="#index" data-role="button">首页</a>
    <h1>真题复习</h1>
  </div>
  <div data-role="main" class="ui-content">
    <form>
      <fieldset data-role="controlgroup">
        <legend>fadsfasdfa</legend>
        <label for="a1">a</label>
        <input type="radio" name="sel" id="a1" value="a">
        <label for="b1">b</label>
        <input type="radio" name="sel" id="b1" value="b">
        <label for="c1">c</label>
        <input type="radio" name="sel" id="c1" value="c">
      </fieldset>
    </form>
    <form>
      <fieldset data-role="controlgroup">
        <legend>fadsfasdf2</legend>
        <label for="a2">a</label>
        <input type="radio" name="sel" id="a2" value="a">
        <label for="b2">b</label>
        <input type="radio" name="sel" id="b2" value="b">
        <label for="c2">c</label>
        <input type="radio" name="sel" id="c2" value="c">
      </fieldset>
    </form>
    <form>
      <fieldset data-role="controlgroup">
        <legend>fadsfasdf</legend>
        <label for="a3">a</label>
        <input type="radio" name="sel" id="a3" value="a">
        <label for="b3">b</label>
        <input type="radio" name="sel" id="b3" value="b">
        <label for="c3">c</label>
        <input type="radio" name="sel" id="c3" value="c">
      </fieldset>
    </form>
  </div>
</div>

<div date-role="page" id="test">

</div>
</body>
<script type="application/javascript">
  var str = {"qst":"what's the number?","a":"1","b":"2","c":"3","d":"4"};

  function rev(i,str){
    var html = "";
    html += '<fieldset data-role="controlgroup">';
    html += '<legend>'+ i + '.' + str.qst +'：</legend>';
    html += '<label for="a">'+  str.a +'</label><input type="radio" name="sel" id="a" value="a">';
    html += '<label for="b">'+  str.b +'</label><input type="radio" name="sel" id="b" value="b">';
    html += '<label for="c">'+  str.c +'</label><input type="radio" name="sel" id="c" value="c">';
    html += '<label for="d">'+  str.d +'</label><input type="radio" name="sel" id="d" value="d">';
    html += '</fieldset>';
    $("#rev_data").append(html);
  }

  /*$("#btn_rev").click(function(){
    $("#rev_data").html("");
    for(i=0;i<10;i++)
      rev(i+1,window.str);
  });*/
</script>
</html>
